node_modules/

package-lock.json
package.json

backend/classification_model/__pycache__
# backend/received_imgs

backend/classification_model/model_weights.pth

# backend/myenv/Lib/site-packages/torch/lib/torch_cpu.dll
# backend/myenv/Lib/site-packages/torch/lib/dnnl.lib